<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span style="margin-left: 10px;">Ello Reader</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
    <div *ngIf="loading">
        Loading...
    </div>
    <div *ngIf="error">
        The errror is : {{error}}
    </div>
    <div *ngIf="book">
        <div style="font-weight: bold; font-size: 30px;">{{book.title}}</div>
        <div style="font-weight: bold;">{{book.author}}</div>
        <div>pages: {{book.pages.length}}</div>
        <br>



        <div *ngFor="let pageItem of currentlyShownPages;">

            <div *ngIf="pageItem">

                <!-- <div>{{pageItem}}</div> -->
                <app-book-page [BookPage]="pageItem">
                </app-book-page>
            </div>

        </div>

        <!-- <div>
            <div>
                <div style="display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: stretch;
                align-content: stretch;
                width: 100%;
                " *ngFor="let page of pages; let i = index;">
                    <div class="half-page">
                        <app-book-page [BookPage]="pages[0]">
                        </app-book-page>
                    </div>
                    <div class="half-page">
                        <app-book-page [BookPage]="pages[1]">
                        </app-book-page>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div ></div>
<button class="nextButton circle-link" (click)="goToNextDoublePage()"><i
        class="material-icons">arrow_forward</i></button>
<button class="backButton circle-link" (click)="goToPreviousDoublePage()"><i
        class="material-icons">arrow_back</i></button>