<div class="toolbar" role="banner">
    <span class="app-title">Ello
        Reader</span>
</div>

<div class="content" role="main">
    <div *ngIf="loading">
        Loading...
    </div>
    <div *ngIf="error">
        The errror is : {{error}}
    </div>
    <div *ngIf="book">
        <div class="book-title">{{book.title}}</div>
        <div class="book-author">by: {{book.author}}</div>
        <div class="book-pages-count">pages: {{book.pages.length}}
        </div>
        <div class="navigation-buttons">
            <button [disabled]="offset === 0" class="circle-link" (click)="goToPreviousDoublePage()">
                <i class="material-icons">arrow_back</i>
            </button>
            <button [disabled]="offset === book?.pages?.length" class="circle-link" (click)="goToNextDoublePage()">
                <i class="material-icons">arrow_forward</i>
            </button>
        </div>
        <div class="pages-grid">
            <div *ngFor="let pageItem of currentlyRenderedPages;" class="page-grid-item">
                <div *ngIf="pageItem">
                    <app-book-page [BookPage]="pageItem">
                    </app-book-page>
                </div>
            </div>
        </div>
    </div>
</div>

