    /* Selects the first letter of a <p> */
    div::first-letter {
        font-size: 100%;
        background-color: rgb(129, 122, 122);
        color: white;
        width: 400px;
        height: 400px;
        font-family: fantasy;
        display: block;
    }